<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseURL</key>
	<string>https://xxmvoqpcbthactwlvakq.supabase.co</string>
	<key>SupabaseAnonKey</key>
	<string>sb_publishable_ZZguRte4MoV62oMocDSlpQ_oU9OrBe6</string>
</dict>
</plist>
